<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahoo.mapper.ProductParameterEntityMapper">
    <resultMap id="BaseResultMap" type="com.ahoo.entity.ProductParameterEntity">
        <id column="REC_ID" jdbcType="INTEGER" property="recId"/>
        <result column="CONDUCTOR_A" jdbcType="VARCHAR" property="conductorA"/>
        <result column="CONDUCTOR_B" jdbcType="VARCHAR" property="conductorB"/>
        <result column="MODEL_NUMBER" jdbcType="VARCHAR" property="modelNumber"/>
        <result column="MODEL_TYPE" jdbcType="VARCHAR" property="modelType"/>
        <result column="POWER_TYPE" jdbcType="VARCHAR" property="powerType"/>
        <result column="MODEL_CLIP" jdbcType="VARCHAR" property="modelClip"/>
        <result column="PARAMETER1" jdbcType="VARCHAR" property="parameter1"/>
        <result column="PARAMETER2" jdbcType="VARCHAR" property="parameter2"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="FK_CHILD_REC_ID" jdbcType="INTEGER" property="fkChildRecId"/>
    </resultMap>
    <sql id="Base_Column_List">
    REC_ID, CONDUCTOR_A, CONDUCTOR_B, MODEL_NUMBER, MODEL_TYPE, POWER_TYPE, MODEL_CLIP, 
    PARAMETER1, PARAMETER2, REMARK, FK_CHILD_REC_ID
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from productparameter
        where REC_ID = #{recId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from productparameter
    where REC_ID = #{recId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ahoo.entity.ProductParameterEntity">
    insert into productparameter (REC_ID, CONDUCTOR_A, CONDUCTOR_B, 
      MODEL_NUMBER, MODEL_TYPE, POWER_TYPE, 
      MODEL_CLIP, PARAMETER1, PARAMETER2, 
      REMARK, FK_CHILD_REC_ID)
    values (#{recId,jdbcType=INTEGER}, #{conductorA,jdbcType=VARCHAR}, #{conductorB,jdbcType=VARCHAR}, 
      #{modelNumber,jdbcType=VARCHAR}, #{modelType,jdbcType=VARCHAR}, #{powerType,jdbcType=VARCHAR}, 
      #{modelClip,jdbcType=VARCHAR}, #{parameter1,jdbcType=VARCHAR}, #{parameter2,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{fkChildRecId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.ahoo.entity.ProductParameterEntity">
        insert into productparameter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                REC_ID,
            </if>
            <if test="conductorA != null">
                CONDUCTOR_A,
            </if>
            <if test="conductorB != null">
                CONDUCTOR_B,
            </if>
            <if test="modelNumber != null">
                MODEL_NUMBER,
            </if>
            <if test="modelType != null">
                MODEL_TYPE,
            </if>
            <if test="powerType != null">
                POWER_TYPE,
            </if>
            <if test="modelClip != null">
                MODEL_CLIP,
            </if>
            <if test="parameter1 != null">
                PARAMETER1,
            </if>
            <if test="parameter2 != null">
                PARAMETER2,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="fkChildRecId != null">
                FK_CHILD_REC_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                #{recId,jdbcType=INTEGER},
            </if>
            <if test="conductorA != null">
                #{conductorA,jdbcType=VARCHAR},
            </if>
            <if test="conductorB != null">
                #{conductorB,jdbcType=VARCHAR},
            </if>
            <if test="modelNumber != null">
                #{modelNumber,jdbcType=VARCHAR},
            </if>
            <if test="modelType != null">
                #{modelType,jdbcType=VARCHAR},
            </if>
            <if test="powerType != null">
                #{powerType,jdbcType=VARCHAR},
            </if>
            <if test="modelClip != null">
                #{modelClip,jdbcType=VARCHAR},
            </if>
            <if test="parameter1 != null">
                #{parameter1,jdbcType=VARCHAR},
            </if>
            <if test="parameter2 != null">
                #{parameter2,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="fkChildRecId != null">
                #{fkChildRecId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ahoo.entity.ProductParameterEntity">
        update productparameter
        <set>
            <if test="conductorA != null">
                CONDUCTOR_A = #{conductorA,jdbcType=VARCHAR},
            </if>
            <if test="conductorB != null">
                CONDUCTOR_B = #{conductorB,jdbcType=VARCHAR},
            </if>
            <if test="modelNumber != null">
                MODEL_NUMBER = #{modelNumber,jdbcType=VARCHAR},
            </if>
            <if test="modelType != null">
                MODEL_TYPE = #{modelType,jdbcType=VARCHAR},
            </if>
            <if test="powerType != null">
                POWER_TYPE = #{powerType,jdbcType=VARCHAR},
            </if>
            <if test="modelClip != null">
                MODEL_CLIP = #{modelClip,jdbcType=VARCHAR},
            </if>
            <if test="parameter1 != null">
                PARAMETER1 = #{parameter1,jdbcType=VARCHAR},
            </if>
            <if test="parameter2 != null">
                PARAMETER2 = #{parameter2,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="fkChildRecId != null">
                FK_CHILD_REC_ID = #{fkChildRecId,jdbcType=INTEGER},
            </if>
        </set>
        where REC_ID = #{recId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ahoo.entity.ProductParameterEntity">
    update productparameter
    set CONDUCTOR_A = #{conductorA,jdbcType=VARCHAR},
      CONDUCTOR_B = #{conductorB,jdbcType=VARCHAR},
      MODEL_NUMBER = #{modelNumber,jdbcType=VARCHAR},
      MODEL_TYPE = #{modelType,jdbcType=VARCHAR},
      POWER_TYPE = #{powerType,jdbcType=VARCHAR},
      MODEL_CLIP = #{modelClip,jdbcType=VARCHAR},
      PARAMETER1 = #{parameter1,jdbcType=VARCHAR},
      PARAMETER2 = #{parameter2,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      FK_CHILD_REC_ID = #{fkChildRecId,jdbcType=INTEGER}
    where REC_ID = #{recId,jdbcType=INTEGER}
  </update>

    <select id="selectDesByFkId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from productparameter
        where FK_CHILD_REC_ID = #{fkRecId,jdbcType=INTEGER}
    </select>

    <select id="selectDesByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from productparameter

        <if test="paramA!=null and paramA!=''">
            WHERE CONDUCTOR_A = #{paramA,jdbcType=VARCHAR}
        </if>
        <if test="paramB!=null and paramB!=''">
            AND CONDUCTOR_B = #{paramB,jdbcType=VARCHAR}
        </if>
        <if test="fkId!=null and fkId!=''">
            AND FK_CHILD_REC_ID = #{fkId,jdbcType=INTEGER}
        </if>

    </select>

    <select id="selectParamB" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from productparameter

        <if test="fkId !=null and fkId!=''">
            WHERE FK_CHILD_REC_ID = #{fkId,jdbcType=INTEGER}
        </if>
        <if test="paramA !=null and paramA!=''">
            AND CONDUCTOR_A = #{paramA,jdbcType=VARCHAR}
        </if>
    </select>




</mapper>