<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahoo.mapper.UserEntityMapper">
    <resultMap id="BaseResultMap" type="com.ahoo.entity.UserEntity">
        <id column="REC_ID" jdbcType="INTEGER" property="recId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWD" jdbcType="VARCHAR" property="passwd"/>
    </resultMap>
    <sql id="Base_Column_List">
    REC_ID, USERNAME, PASSWD
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where REC_ID = #{recId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where REC_ID = #{recId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ahoo.entity.UserEntity">
    insert into user (REC_ID, USERNAME, PASSWD
      )
    values (#{recId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.ahoo.entity.UserEntity">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                REC_ID,
            </if>
            <if test="username != null">
                USERNAME,
            </if>
            <if test="passwd != null">
                PASSWD,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recId != null">
                #{recId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                #{passwd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ahoo.entity.UserEntity">
        update user
        <set>
            <if test="username != null">
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="passwd != null">
                PASSWD = #{passwd,jdbcType=VARCHAR},
            </if>
        </set>
        where REC_ID = #{recId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ahoo.entity.UserEntity">
    update user
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWD = #{passwd,jdbcType=VARCHAR}
    where REC_ID = #{recId,jdbcType=INTEGER}
  </update>

    <update id="updateByName" parameterType="com.ahoo.entity.UserEntity">
        update user
        set PASSWD = #{passwd,jdbcType=VARCHAR}
        where USERNAME = #{username,jdbcType=VARCHAR}
    </update>


    <select id="selectByUserNameAndPassWd" parameterType="com.ahoo.entity.UserEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where USERNAME = #{username,jdbcType=VARCHAR} AND
        PASSWD = #{passwd,jdbcType=VARCHAR}
    </select>

</mapper>